.delete-container {
    margin: auto;
    width: 40%;
    margin-top: 30px;
    border: solid 5px black;
    border-radius: 20px;
    padding: 15px;
}
.yes-button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    color: white;
}
.no-button {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
}
.delete-spot-title{
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.delete-spot-desc {
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
}
