.spot-info-container img {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    border-color: black;
    padding: 10px;
}

.yes-button {
    background-color: red;
}

.no-button {
    background-color: darkgrey;
}

.all-spots-container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.spot-info-container {
    margin-top: 20px;
}

.spot-rating {
    float: right;
    padding-right: 20px;
}

.spot-cty-state {
    padding-left: 20px;
}

.spot-price {
    padding-left: 20px;
    padding-top: 10px;
}
