.hidden {
    display: none;
}

#header-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: solid gray;
    width: 100%;
}

.login-container {
    display: flex;
    width: 250px;
    height: 100%;
    justify-content: space-around;
    padding-right: 55px;
    align-items: center;
}

div > a > i  {
    padding-top: 20px;
}

div.profile-dropdown {
    border: 2px solid black;
    position: absolute;
    background-color: white;
    right: 20px;
    width: 125px;
    height: fit-content;
}

.profile-greeting {
    display: block;
    margin-left: 10px;
}
.profile-email,
.profile-manage-spots
 {
    display: block;
    margin: auto;
    border-top: solid black;
}
.profile-logout {
    display: block;
    margin: auto;
    background-color: grey;
    color: white;
}
.profile-logout-container {
    margin-top: 5px;
    margin-bottom: 5px;
}
